.list {
  margin-left: -25px;
  min-width: 385px;

  overflow: hidden;
  /* list-style: circle; */
}

.contactListItem {
  display: flex;
  /* flex-wrap: nowrap; */
  justify-content: space-between;
  align-items: baseline;

  /* width: 300px; */

  padding: 0 10px 0 10px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 1px rgba(0, 0, 0, 0.14),
    -1px 0px 2px -1px rgba(0, 0, 0, 0.12);
  border-radius: 0 7px 0 7px;
}
